body, p, h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: baseline;
  background-color: #1F2937;
  padding-top: 16px;
  padding-bottom: 16px;
  white-space: nowrap;
}

h3 {
  color: #F9FAF8;
  font-size: 26px;
  font-weight: 500;
  margin-right: 300px;
}

ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 16px;
  font-weight: 300;
}

.hero {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 96px;
  background-color: #1F2937;
  padding-top: 60px;
  padding-bottom: 90px;
}

.hero-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 350px;
  gap: 10px;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f9faf8;
}

.hero p {
  font-size: 16px;
  font-weight: 300;
  color: #E5E7EB;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border: none;
  border-radius: 7px;
  padding: 7px 22px;
  margin-top: 6px;
}

.placeholder {
  display: flex;
  background-color:#6e747e;
  color: #F9FAF8;
  font-size: 13px;
  font-weight: 300;
  padding: 70px 85px;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.quote-container {
  background-color: #E5E7EB;
  color: #1F2937;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.quote {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  max-width: 650px;
}

.quote-container .quote-author{
  text-align: end;
  font-weight: 500;
  font-size: 17px;
}

.call-to-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.call-to-action-contents {
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 30px 80px;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
}

h4 {
  font-weight: 500;
  white-space: nowrap;
}

.call-to-action-contents p {
  font-weight: 100;
  font-size: 13px;
  margin-top: 3px;
  white-space: nowrap;
}

.action-description-container {
  margin-right: 223px
}

.call-to-action-contents button {
  border-color: #F9FAF8;
  border-style: solid;
  border-width: 1px;
  white-space: nowrap;
}

footer {
  background-color: #1F2937;
  color: #E5E7EB;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
} 